header {
  width: 100%;
  height: 80px;
  background-color: #1d1d31;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: fixed;
  top: 0;
  z-index: 1;
}
header .logo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 0;
}
.nav-bar ul li a {
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
  text-transform: capitalize;
}
.nav-bar ul li a:hover {
  color: #11101b;
  background-color: #fefefe;
  transition: all 0.4s ease-in-out;
}
.nav-bar ul li a.active {
  color: #11101b;
  background-color: #fefefe;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 870px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #fefefe;
    margin: 6px 0;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    height: 0px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #11101b;
    transition: 0.2s;
    overflow: hidden;
    z-index: 1;
  }
  .nav-bar.active {
    height: 400px;
  }
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 50px auto 0 auto;
    transition: 0.5s;
    text-align: center;
    opacity: 0;
  }
  .nav-bar ul li a {
    margin: 10px auto;
    color: #000;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
}
.sidebar {
  width: 250px;
  position: fixed;
  top: 80px;
  left: 0;
  height: 100%;
  background-color: #1d1d31;
  z-index: 1;
}
.sidebar ul {
  list-style: none;
  padding-left: 0;
}
.sidebar ul li {
  padding: 20px 30px;
  font-size: 20px;
}
.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}
.sidebar ul li:hover a {
  color: rebeccapurple;
  padding-left: 25px;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    max-width: 130px;
  }
  .sidebar ul li {
    padding: 15px 5px;
  }
  .sidebar ul li:hover i {
    text-align: center;
  }
}
@media only screen and (max-width: 992px) {
  .sidebar {
    max-width: 80px;
  }
  .sidebar ul li {
    padding: 15px 5px;
  }
  .sidebar ul li span {
    display: none;
  }
  .sidebar ul li:hover i {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .sidebar {
    max-width: 80px;
  }
  .sidebar ul li {
    padding: 15px 5px;
  }
  .sidebar ul li span {
    display: none;
  }
  .sidebar ul li:hover i {
    text-align: center;
  }
}
.main-content {
  left: 250px;
  top: 90px;
}
.main-content .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
.main-content .wrapper .item {
  padding: 10px 20px;
}
.main-content .wrapper .item .left .number {
  font-size: 25px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
.main-content .wrapper .item .left .name {
  font-size: 20px;
}
.main-content .wrapper .item .icon i {
  font-size: 30px;
}
.main-content .wrapper .item:hover {
  background-color: #D2F2EE;
  cursor: pointer;
  transition: all 0.6s ease;
  transform: translateY(-5px);
}

@media only screen and (max-width: 992px) {
  .main-content {
    left: 80px;
  }
  .main-content .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .main-content {
    left: 80px;
  }
  .main-content .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.charts {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}
.charts .chart1 {
  grid-column: 1/3;
}
.charts .chart2 {
  grid-column: 3/4;
}

@media only screen and (max-width: 992px) {
  .charts {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
  }
  .charts .chart1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .charts .chart2 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media only screen and (max-width: 600px) {
  .charts {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=app.css.map */
