.sidebar{
      width: 250px;
      position:fixed;
      top:80px;
      left: 0;
      height: 100%;
      background-color: #1d1d31;
      z-index: 1;
      ul{
            list-style: none;
            padding-left: 0;
            li{
                  padding:20px 30px;
                  font-size: 20px;
                  a{
                        color:#fff;
                        text-decoration: none;
                        text-transform: capitalize;
                  }
            }
            li:hover{
                  a{
                        color: rebeccapurple;
                        padding-left: 25px;
                        transition: all 0.3s ease-in-out;
                  }
            }
      }
}

//reponsive
//for laptop
@media only screen and (max-width:1200px){
      .sidebar{
            max-width: 130px;
            ul{
                  li{
                        padding: 15px 5px; 
                  }
                  li:hover{
                        i{
                              text-align: center;
                        }
                  }
            }
      }     
}

//for e-book
@media only screen and (max-width:992px){
      .sidebar{
            max-width: 80px;
            ul{
                  li{
                        padding: 15px 5px;
                        span{
                              display: none;
                        }
                  }
                  li:hover{
                        i{
                              text-align: center;
                        }
                  }
            }
      }     
}

//for mobile
@media only screen and (max-width:768px){
      .sidebar{
            max-width: 80px;
            ul{
                  li{
                        padding: 15px 5px;
                        span{
                              display: none;
                        }
                  }
                  li:hover{
                        i{
                              text-align: center;
                        }
                  }
            }
      }     
}